<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<!--
  1.在这里首先需要关注的一点是namespace，每一个mapper有一个唯一指定的namespace，一般采用包名+mapper的文件名。
	之后再操作数据库时就通过namespace+select的id 这种方式来操作。
  2.mapper内包裹的就是一系列的数据库操作。
  3.<select> 中 id用于 配合namespace定位到具体操作。
  4.parameterType表示参数类型，参数就被传递到#{}所在的地方。
  5.resultType代表了数据的返回类型，这里返回类型就是那个与数据库表信息对应的类 。
-->
<!-- 管理员 -->
<mapper namespace="com.sanzu.luntan.mapper.AdminMapper">
  <!-- 管理员登录 -->
  <select id="logInAdmin" parameterType="com.sanzu.luntan.pojo.Admin" resultType="com.sanzu.luntan.pojo.Admin">
  	select * from admin where adminNumber=#{adminNumber} and adminPassword=#{adminPassword}
  </select>
  <!-- 查找单个 -->
  <select id="findAdminById" resultType="com.sanzu.luntan.pojo.Admin">
  	select * from admin where id=#{id} or adminNumber=#{adminNumber} or adminName=#{adminName}
  </select>
  <!-- 查找全部 -->
  <select id="queryAdminAll" resultType="com.sanzu.luntan.pojo.Admin">
  	select * from admin
  </select>
  <!-- 模糊查找 -->
  <select id="queryAdminById" parameterType="String" resultType="com.sanzu.luntan.pojo.Admin">
  	select * from admin where id like '%${value}%'
  </select>
  <!-- 用户注册 -->
  <insert id="insertAdmin" parameterType="com.sanzu.luntan.pojo.Admin" >
  	insert into admin(adminNumber,adminPassword,adminName,adminBirthday,imgUrl,position) values(#{adminNumber},#{adminPassword},#{adminName},#{adminBirthday},#{imgUrl},#{position})
  </insert>
  <!-- 校验用户名是否重复 -->
  <select id="checkAdminName" parameterType="String" resultType="int">
  	select count(*) from admin where adminName = #{adminName} 
  </select>  
  <!-- 校验账号是否重复 -->
  <select id="checkAdminNumber" parameterType="String" resultType="int">
  	select count(*) from admin where adminNumber = #{adminNumber} 
  </select>  
  <!-- 更新密码 -->
  <update id="updateAdmin" parameterType="com.sanzu.luntan.pojo.Admin">
  	update admin set adminPassword=#{adminPassword} where id=#{id}
  </update>
  <!-- 更新用户信息 -->
  <update id="updateAdminInfo" parameterType="com.sanzu.luntan.pojo.Admin">
  	<!-- 记得使用逗号隔开 -->
  	update admin set adminPassword=#{adminPassword}, adminName=#{adminName}, position=#{position}, adminBirthday=#{adminBirthday}, imgUrl=#{imgUrl} where id=#{id}
  </update>
  <!-- 单个删除 -->
 <delete id="deleteAdminOne" parameterType="int">
  	delete from admin where id=#{id}
  </delete>
  <!-- 批量删除 -->
  <delete id="deleteAdminAll" parameterType="String">
  <!-- 前端封装的是一个list，利用Mybatis给我们的封装进行XML配置，将我们的XML中collection属性值设置为list -->
  	delete from admin where id in(
  		<foreach collection="list" item="id" separator=",">
  			#{id}
  		</foreach>
  	)
  </delete>
</mapper>